{% extends 'base.html.twig' %}
{% form_theme registrationForm 'bootstrap_5_layout.html.twig' %}

{% block title %}Inscription
{% endblock %}

{% block body %}
	<div style="margin: auto;">
		<div class="col-12 col-lg-15">
			<div class="bg-light shadow border rounded-lg p-4">
				<h3 class="font-weight-light">Bienvenue sur la Page d'inscription</h3>
				<div class="d-flex flex-row">
					{{ form_start(registrationForm) }}
					{{ form_row(registrationForm.email,{'row_attr':{'class':"w-100"}}) }}
					{{ form_row(registrationForm.nom, {
            label: 'Nom'
        }) }}
					{{ form_row(registrationForm.prenom, {
            label: 'Prenom'
        }) }}
					{{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
					{{ form_row(registrationForm.agreeTerms) }}
					<button type="submit" class="btn btn-primary">S'inscrire</button>
					{{ form_end(registrationForm) }}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
