<div class="container mt-2">
	<div class="row  mb-3 text-center ">
		{%  for property in properties%}
			<div class="col-md-4">
				{% if property.filename %}
					<div class="row">
						<img src="{{ vich_uploader_asset(property, 'imageFile')}}" alt=" card-img-top" style=" width: 90%; height: 200px;">
					</div>
					<!--  |imagine_filter('my_thumb')-->
				{% else %}
					<div class="row">
						<img src="{{'/images/properties/kfc_home.jpg' }}" alt=" card-img-top" style=" width: 90%; height: 200px;">
					</div>
				{% endif %}
				<div class="card border-secondary mb-3 mt-4" style=" max-width: 20rem;max-height: 15em">
					<div class="card border shadow lift">
						<div class="card text-white bg-primary mb-3" style="max-width: 23rem;max-height: 10em">
							<div class="card-header py-2">
								<a class="link-light my-0 fw-normal" style="text-decoration:none" href="{{path('property_show',{id:property.id, slug: property.slug})}}">{{property.title}}</a>
							</div>
						</div>
						<div class="card-body">
							<div class="card-text">
								{{property.surface}}
								m2 -{{property.city}}
								({{property.postalCode}})</div>
							<p class="card-text">
								<div class="text-dark" style="font-size: 2rem;font-weigt: bold;">{{property.getFormattedPrice}}
									D</div>
							</p>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
</div>
